#creations {
    padding: 0 20px 40px 20px;
    margin-bottom: 50px;
}

#creations .title {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    padding: 20px;
}

#creations .card {
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    height: 120px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.card .text {
    max-width: 115px;
}
#creations .background-earth {
    background-image: url('../../images/mobile/image-deep-earth.jpg');
}
#creations .background-arcade {
    background-image: url('../../images/mobile/image-night-arcade.jpg');
}
#creations .background-soccer {
    background-image: url('../../images/mobile/image-soccer-team.jpg');
}
#creations .background-grid {
    background-image: url('../../images/mobile/image-grid.jpg');
}
#creations .background-above {
    background-image: url('../../images/mobile/image-from-above.jpg');
}
#creations .background-pocket {
    background-image: url('../../images/mobile/image-pocket-borealis.jpg');
}
#creations .background-curiosity {
    background-image: url('../../images/mobile/image-curiosity.jpg');
}
#creations .background-fisheye {
    background-image: url('../../images/mobile/image-fisheye.jpg');
}

#creations .button {
    margin: 0 auto;
    display: block;
    border: 2px solid #000;
    background: transparent;
    text-transform: uppercase;
    padding: 15px 15px;
    font-size: 15px;
    font-weight: 700;
    width: 100%;
    max-width: 180px;
    letter-spacing: 4px;
    font-family: 'Josefin Sans', sans-serif;
}