#footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-family: 'Alata', sans-serif;
}
#footer .container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
#footer .logo-footer {
    margin-bottom: 25px;
}

#footer ul {
    list-style: none;
    margin-bottom: 40px;
}
#footer ul li {
    margin: 15px;
}
#footer .social {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 15px;
}
.copyright {
    font-size: 14px;
    color: hsl(0, 0%, 55%);
}

@media (min-width: 768px) {
    #footer {
        padding: 30px;
    }
    #footer .container {
        display: flex;
        justify-content: space-between;
        text-align: initial;
    }
    #footer .social {
        justify-content: flex-end;
    }
    #footer .social img {
        cursor: pointer;
        padding-bottom: 4px;
        border-bottom: 2px solid transparent;
    }
    #footer .social img:hover {
        border-bottom: 2px solid #fff;
    }
    #footer .menu-footer {
        display: flex;
        gap: 20px;
    }

    #footer ul li {
        margin: 0;
        cursor: pointer;
    }

    #footer ul li:hover {
        border-bottom: 2px solid #fff;
    }
}