#home {
    background-image: url('../../images/desktop/image-hero.jpg');
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}